@import "resources/variables";
@import "resources/functions";
@import "resources/extends";
@import "resources/mixins";
@import "common/base/fonts";
@import "common/base/core";

.wrapper {
  padding-left: em(20px);
  padding-right: em(20px);
}

#header-content {
  background: $beige;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding-bottom: em(80px);
  
    &__logo {
      width: em(60px);
      height: em(60px);
      margin-bottom: em(30px);
    }
  
    &__title {
      font-size: em(48px);
      line-height: 40px;
      font-family: $font-Ubuntu, serif;
      font-weight: normal;
    }
  
    &__border {
      width: em(70px);
      height: 1px;
      background: #000;
      margin-top: em(20px);
      margin-bottom: em(20px);
    }
  
    &__subtitle {
      font-size: em(18px);
      font-weight: normal;
      margin-bottom: em(100px);
      @include ifmobile {
        margin-bottom: em(40px);
      }
    }
  
    &__switch {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      left: em(17px);
      margin-bottom: em(70px);
      @include ifmobile {
        margin-bottom: em(0px);
      }
    }
  
    .switch {
      &__title{
        font-size: em(14px);
        font-weight: normal;
        @include ifmobile {
          font-size: em(12px);
        }
      }
      &__toggle-checkbox {
        margin-left: em(30px);
        margin-right: em(30px);
      }
  
      .toggle-checkbox {
        position: relative;
        display: inline-block;
        user-select: none;
        width: em(80px);
        height: em(40px);
        background: $light-brown;
        border-radius: em(50px);
        transition: background $speed;
        cursor: pointer; 
      
        &__input {
          visibility: hidden;
          font-size: 0;
          width: 0;
          height: 0;
          padding: 0;
          border: 0;
          outline: 0;
        }
      
        &__slider {
          // display: none;
          position: absolute;
          width: em(36px);
          height: em(36px);
          background-color: $white;
          border-radius: 100%;
          top: em(2px);
          left: em(2px);
          box-shadow: 0 em(2px) em(1px) rgba(0, 0, 0, 0.1);
          transition: transform $speed;
          &.is_active {
            transform: translateX(100%);
            top: em(2px);
            left: em(6px);
          }
        }
    
        &__img {
          position: absolute;
          height: em(20px);
          top: 26%;
        }
        &--client{
          width: em(15px);
          left: em(10px);
          
        }
        &--boss{
          width: em(19px);
          right: em(10px);
        }
      }
    }
  
    &__language {
      width: em(135px);
      display: flex;
      justify-content: space-between;
      .language {
        width: em(50px);
        height: em(35px);
        cursor: pointer;
      }
    }
  }
}

#aboutme-content{
  background: $white;
  padding-top: em(80px);
  padding-bottom: em(80px);
  .aboutme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    &__photo {
      width: em(452px);
      height: em(350px);
      border: em(20px) solid $white;
      box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.25);
      position: relative;
      top: em(100px);
      margin-right: em(40px);
      @include ifmobile {
        width: 100%;
      height: auto;
        top: 0;
        margin-right: 0px;
        margin-bottom: em(40px);
      }
    }
    .info{
      width: em(680px);
      &__item{
        border: 1px solid rgba(0,0,0,.125);;
        margin-bottom: em(60px);
        &__header{
          border-bottom: 1px solid rgba(0,0,0,.125);;
          background: #F6F6F6;
          padding: em(12px) em(15px);
          display: flex;
          flex-direction: row;
          .circle {
            width: em(10px);
            height: em(10px);
            display: block;
            border-radius: 50%;
            margin-right: em(10px);
          }
          .circle--red {
            background: $red;
          }
          .circle--yellow {
            background: $yellow;
          }
          .circle--green {
            background: $green;
          }
        }
        &__content{
          padding: em(40px) em(25px) em(20px);
        }
        &__title {
          font-size: em(24px);
          line-height: 100%;
          font-family: $font-Ubuntu;
          margin-bottom: em(12px);
        }
        &__text {
          font-size: em(16px);
          line-height: 150%;
          text-indent: em(20px);
        }
      }
    }
  }
}

#projects-content {
  background: $beige;
  padding-top: em(80px);
  padding-bottom: em(80px);
  .projects {
    &__title{
      font-size: em(24px);
      line-height: 100%;
      font-family: $font-Ubuntu;
      text-transform: uppercase;
      text-align: center;      
    }
    &__projects {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      
      .project {
        width: em(360px);
        height: auto;
        overflow: hidden;
        background: $white;        
        margin-top: em(80px);
        position: relative;
        box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.25);
        &__img {
          width: em(360px);
          height: em(200px);
          margin-bottom: em(20px);
        }
        &__content {
          padding-left: em(20px);
          padding-right: em(20px);
        }
        &__title {
          position: relative;          
          margin-bottom: em(10px);
          font-size: em(24px);
          line-height: 100%;
          font-family: $font-Ubuntu;
          color: $turquoise;
          cursor: pointer;
        }
        &__menu {
          width: em(3px);
          height: em(3px);
          border-radius: 50%;
          background: $turquoise;
          position: absolute;
          right: 0;
          top: 30%;
          cursor: pointer;
        }
        &__menu::before {
          content: '';
          width: em(3px);
          height: em(3px);
          border-radius: 50%;
          background: $turquoise;
          position: absolute;
          right: 0;
          bottom: em(5px);
        }
        &__menu::after {
          content: '';
          width: em(3px);
          height: em(3px);
          border-radius: 50%;
          background: $turquoise;
          position: absolute;
          right: 0;
          bottom: em(-5px);
        }
        &__descraption {
          font-size: em(16px);
          line-height: 120%;
          font-family: $font-Ubuntu;
          padding-bottom: em(20px);
        }

        &__info {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;   
          overflow-y: auto;
          z-index: 1;
        }
        .info {
          background: $white;
          padding: em(25px) em(20px);          
          &__title{
            font-size: em(24px);
            line-height: 100%;
            color: $turquoise;
            margin-bottom: em(15px);
            position: relative;
          }
          &__close {
            width: em(12px);
            height: em(12px);
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
          }
          &__list {
            margin-left: em(20px);
            li {
              font-size: em(16px);
              font-family: $font-Ubuntu;
            }
          }

          &__action {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-top: 1px solid rgba(0,0,0,.125);
            display: flex;
            flex-direction: row;
            padding: em(25px);
            &__item {
              width: em(55px);
              height: em(55px);
              border-radius: 50%;
              background: $light-brown;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              margin-right: em(20px);    
              &:hover {
                box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.25), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
              }
            }
            
            &__item--link {
              width: em(20px);
              height: em(20px);
              
            }
            &__item--github {
              width: em(25px);
                height: em(25px);
            }
          }
        }
      }
      .project-hidden {
        width: em(360px);
        height: 0px;
      }
    }
  }
}

#services-content {
  padding-top: em(80px);
  padding-bottom: em(80px);
  .services {
    &__title{
      font-size: em(24px);
      line-height: 100%;
      font-family: $font-Ubuntu;
      text-transform: uppercase;
      text-align: center;      
    }
    &__services {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .service {
        width: em(360px);
        height: auto;
        overflow: hidden;
        background: $white;        
        margin-top: em(80px);
        position: relative;
        &__img {
          margin-bottom: em(12px);
        }
        &__title {
          font-size: em(18px);
          line-height: 100%;
          font-weight: bold;
          margin-bottom: em(12px);
        }
        &__price {
          font-size: em(16px);
          font-family: $font-Ubuntu;
          font-weight: bold;
          line-height: 100%;
          color: $red;
          margin-bottom: em(12px);
        }
        &__subtitle {
          font-size: em(16px);
          line-height: 130%;
          margin-bottom: em(12px);
        }
      }
  }
}
}

#section-contacts {
  padding-top: em(80px);
  padding-bottom: em(80px);
  background: $black-p;
  .contacts {
    &__title {
      font-size: em(24px);
      line-height: 100%;
      color: $white;
      font-family: $font-Ubuntu;
      text-transform: uppercase;
      text-align: center;
    }
    &__contacts {
      margin-top: em(80px);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      @include ifmobile {
        margin-top: em(30px);
      }
      .contact {
        width: em(80px);
        height: em(80px);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 5px solid $white;
        border-radius: 50%;
        text-decoration: none;
        &:hover {
          border-color: $blue;
          
          svg path {
            fill: $blue;
            stroke: $blue;
          }               
        }
        svg {
          width: em(30px);
          height: em(30px);
          @include ifmobile {
            width: em(15px);
            height: em(15px);
          }
        }

        @include ifmobile {
          width: em(30px);
          height: em(30px);
          border: 2px solid $white;
        }
      }
    }
  }
}

.client {
  display: block;
}
.manager {
  display: none;
  text-indent: 0 !important;
}

.hide {
  display: none;
}

.nda {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  