$white: #ffffff;
$black: #000000;
$black-p: #333333;
$turquoise: #008073;
$grey: #BCB3B3;
$green: #28A745;
$yellow: #FFC107;
$red: #DC3545;
$beige: #EFE1BD;
$light-brown: #AA9868;

$blue: #64CEE5;




$speed: 0.1s;

$font-Ubuntu: 'Ubuntu', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;